<div class="col-md-8 col-md-offset-2">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>Create New Listing</h1>
      </div>

        <%= simple_form_for @listing do |f| %>
          <%= f.input :title %>
          <%= f.input :address %>
          <%= f.input :city %>
          <%= f.input :state %>
          <%= f.input :zip_code, label: 'Zip Code' %>
          <%= f.input :description %>
          <%= f.input :rate_cents, label: 'Weekly Rate - USD' %>
          <p>* Indicates necessary fields.</p>
          <%= f.button :submit, class:'radius' %>
        <% end %>

    </div>
  </div>
</div>
