<div class="row">
  <div class="module" style="background-image: url(<%= @listing.header_image.to_s %>); background-size: cover;">
  </div>
</div>
  <div class="row collapse">
    <div class="large-4 columns">
      <ul class="pricing-table info-left">
        <li class="title" style="font-size:2em"><%= @listing.title %></li>
        <li class="price">$<%= @listing.rate_cents %>/week</li>
        <li class="bullet-item">
          <%= @listing.address %><br>
          <%= @listing.city %>, <%= @listing.state %>
          <%= @listing.zip_code %>
        </li>
        <li class="description"><%= @listing.description %></li>
        <li class="cta-button">
          <a class="button radius"href="#">Available Soon</a>
          <%= button_to "Leave a Review", new_listing_review_path(@listing), method: "get", class: "button radius" unless current_user == @listing.user %></li>
      </ul>
    </div>
      <div class="large-8 columns">
        <div id="map-canvas" class="info-right" style="height: 300; border: solid 1px #dddddd;"></div>
      </div>
    </div>
      <div class="row">
        <% if current_user == @listing.user %>
            <%= button_to "Edit Listing", edit_listing_path, method: "get", class: "button radius left"  %>
            <%= button_to "Delete Listing", listing_path(@listing), method: "delete", class: "button radius right"  %>
        <% end %>
      </div>
    </div>
    <h4 class="text-center">Reviews for <%= @listing.title %></h4>
    <% @listing.reviews.each do |review| %>
      <div class="row">
        <div class="large-2 columns">
          <%= image_tag review.user.gravatar_url %><br>
          <%= review.user.email %>
        </div>
        <div class="large-4 columns">
          <h4 class="">Rating: <%= review.rating %></h4>
          <br>
          <p>
            Review: <%= review.comment %>
          </p>
        </div>
      </div>
    <% end %>


    <script type="text/javascript" charset="utf-8">
      var addresses = <%= @location %>;
    </script>
