<div class="col-md-4 col-md-offset-2">
  <div class="row">
    <div class="panel panel-default">
      <div class= "row">
        <div class="large-12 centered columns">
           <%= image_tag(@listing.header_image, alt: "Image for #{@listing.title}") %>
        </div>
      </div>
      <ul class="pricing-table">
        <li class="title" style="font-size:2em"><%= @listing.title %></li>
        <li class="price">$<%= @listing.rate_cents %>/week</li>
        <li class="bullet-item">
          <%= @listing.address %><br>
          <%= @listing.city %>, <%= @listing.state %>
          <%= @listing.zip_code %>
        </li>
        <li class="description"><%= @listing.description %></li>
        <li class="cta-button"><a class="button radius"href="#">Available Soon</a> <%= button_to "Leave a Review", new_listing_review_path(@listing), method: "get", class: "button radius" unless current_user == @listing.user %></li>
      </ul>
      <div class="row">
        <% if current_user == @listing.user %>
            <%= button_to "Edit Listing", edit_listing_path, method: "get", class: "button radius left"  %>
            <%= button_to "Delete Listing", listing_path(@listing), method: "delete", class: "button radius right"  %>
        <% end %>
      </div>
    </div>
  </div>
  <div id="reviews" class="row">
    <% @listing.reviews.each do |review| %>
      <h4>Rating: <%= review.rating %></h4>
      <p>
        Review: <%= review.comment %>
      </p>
    <% end %>
  </div>
</div>
