<div class="module">
  <br>
  <h1 class="text-center page-title">Office.ly</h1>
  <h4 class="text-center page-subtitle">Work Better, Together</h4>
  <%= form_tag listings_path, method: :get do %>
    <div class="row collapse ">
      <div class="small-offset-1 small-5 large-offset-3 large-4 columns">
        <%= text_field_tag :query, nil, placeholder: "Where do You Want To Work?" %>
      </div>
      <div class="small-3 large-1 columns">
        <%= select_tag :radius, options_for_select([ ["Radius", 30], [ "1 mi.", 1 ], [ "5 mi.", 5 ], [ "10 mi.", 10 ], [ "20 mi.", 20 ], ["50 mi.", 50] ]) %>
      </div>
      <div class="small-2 large-1 end columns">
        <%= submit_tag "Search", { class: "button alert radius postfix" } %>
      </div>
    </div>
  <% end %>
</div>

<br>

<div class="row">
  <% unless @featured == nil %>
    <div class="large-4 medium-6 small-12 small-centered medium-centered large-uncentered columns border">
      <h4 class="text-center">Featured Listing</h4><br>
      <%= image_tag(@featured.header_image, size:"300", class: "featured-image") unless @featured.header_image == nil %>
      <h4 class="text-center"><%= link_to @featured.title, listing_path(@featured) %></h4>
      <p class="text-center">
        <%= @featured.address %><br>
        <%= @featured.city %>, <%= @featured.state %> <%= @featured.zip_code %><br>
        <%= @featured.description unless @featured.description == nil %>
      </p>
    </div>
  <% end %>



  <div class="large-8 small-12 columns">
    <h4 class="text-center">It's Your Business</h4>
    <h6 class="text-center">Love where you build it</h6>
    <p>
      Office.ly's mission is to connect entrepreneurs and small businesses with
      the right work space for them.
    </p>
  </div>
</div>


You are currently located in <%= @current_location %>
