
  <div class="module">
    <br>
    <br>
    <h1 class="text-center page-title">Office.ly</h1>
    <h4 class="text-center page-subtitle">Find your space.</h4>
    <br>
    <div class="text-center">
      <%= link_to 'List Your Space', new_listing_path %>
      <br>
      <%= link_to 'View All Listings', listings_path %>
    </div>
  </div>

<br>

<div class="row">
  <% unless @featured == nil %>
    <div class="large-4 columns">
      <h4 class="text-center">Featured Listing</h4><br>
      <img class ="centered" src="http://placehold.it/400x300&text=[img]">
      <h4><%= link_to @featured.title, listing_path(@featured) %></h4>
      <p>
        <%= @featured.address %>
        <%= @featured.city %>, <%= @featured.state %>
      </p>
    </div>
  <% end %>

<% if @featured == nil %>
  <div class="large-12 columns">
<% else %>
  <div class="large-8 columns">
<% end %>
    <h4 class="text-center">It's Your Business</h4>
    <h6 class="text-center">Love where you build it</h6>
    <p>
      Office.ly's mission is to connect entrepreneurs and small businesses with
      the right work space for them.
    </p>
    <p>
      Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
    </p>

  </div>
</div>



<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>© Copyright NCDev.</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#">About</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Site Map</a></li>
          <li><a href="#">Mission</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
